.head-plants
{
    padding-top: 200px;
    justify-content:center;
    text-align: center;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:antiquewhite;
}

